  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="row">
        <div class="mat-elevation-z4 bg-form p-20 mx-10" style="min-width:320px">
          <div class="fz-1-2 mb-10 flex center-x">
            <i class="material-icons f-color-primary mr-5">lock</i>
            <div class="pt-3">Perfil de Usuario</div>
          </div>
          <div class="row">
            <mat-form-field class="col-12 w-100">
              <input type="text" matInput formControlName="nombre" placeholder="Perfil">
              <mat-error *ngIf="form.controls['nombre'].errors?.required">El perfil es requerido</mat-error>
            </mat-form-field>
          </div>

          <div class="row p-10-20">
            <div class="w-100">
              <button mat-raised-button color="primary" class="col col-md-4" [disabled]="form.invalid">Guardar</button>
              <button type="reset" mat-raised-button color="secondary" class="col col-md-4 my-2 mx-md-2">Cancelar</button>
            </div>
          </div>

        </div>

    </div>
  </form>