/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "bootstrap.css";
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
* { 
    outline: none !important;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;    
}


.bg-principal { background-color: #FFF; }
.bg-form { background-color: #F9F9F9; }
.zindex-999 { position: relative; z-index: 999; }
.center-div { margin: 0 auto }

.vh-100 { height: 100vh !important; }
.w-100 { width: 100% !important; }
.p-0 { padding: 0px !important; }
.p-10 { padding: 10px !important; }
.p-20 { padding: 20px !important; }
.p-0-10 { padding: 0px 10px !important; }
.p-0-15 { padding: 0px 15px !important; }
.p-0-20 { padding: 0px 20px !important; }
.p-15-20 { padding: 15px 20px !important; }
.p-10-20 { padding: 10px 20px !important; }
.p-20-10 { padding: 20px 10px !important; }
.p-20-0 { padding: 20px 0px !important; }
.p-10-0 { padding: 10px 0px !important }
.pb-15 { padding-bottom: 15px !important; }
.p-15-0 { padding: 15px 0px !important }
.p-5-10 { padding: 5px 10px !important; }
.pt-2 { padding-top: 2px !important; }
.pt-3 { padding-top: 3px !important; }
.pt-5 { padding-top: 5px !important; }
.py-15 { padding: 15px 0px !important }
.m-0 { margin: 0px !important; }
.m-15 { margin: 15px !important;}
.mr-5 { margin-right: 5px !important; }
.mr-10 { margin-right: 10px !important; }
.mr-15 { margin-right: 15px !important; }
.mr-20 { margin-right: 20px !important; }
.ml-5 { margin-left: 5px !important;}
.ml-10 { margin-left: 10px !important;}
.mb-10 { margin-bottom: 10px !important; }
.mb-20 { margin-bottom: 20px !important; }
.mt-10 { margin-top: 10px !important; }
.mt-20 { margin-top: 20px !important; }
.m-10-0 { margin: 10px 0px !important; }
.m-20-0 { margin: 20px 0px !important; }
.mx-10 { margin: 0px 10px !important; }
.mx-15 { margin: 0px 15px !important; }
.fz-0-9 { font-size: 0.9rem !important; }
.fz-0-8 { font-size: 0.8rem !important; }
.fz-1 { font-size: 1rem !important; }
.fz-1-1 { font-size: 1.1rem !important; }
.fz-1-2 { font-size: 1.2rem !important; }
.nobold { font-weight: normal !important }
.f-color-primary { color: #3f51b5 !important; }
.hide { display: none !important;}
.borde-rojo { border: 1px solid #F00; }
.borde-verde { border: 1px solid #0F0; }
.borde-azul { border: 1px solid #00F; }
.color-gris-1 { color: #F9F9F9}.color-gris-2 { color: #F5F5F5}.color-gris-3 { color: #EEE}.color-gris-4 { color: #DDD}.color-gris-5 { color: #CCC}.color-gris-6 { color: #BBB}.color-gris-7 { color: #AAA}.color-gris-9 { color: #999}.color-gris-10 { color: #777}.color-gris-10 { color: #606060}.color-gris-11 { color: #444}.color-gris-12 { color: #333}


.sombra-div-1 {
    box-shadow: 0 1px 6px 0 rgba(32,33,36,0.28);
}
.hand-cursor { cursor: pointer; }

.flex {
    display: flex;
}

.centrar-x {
    justify-content: center;
}

.between {
    justify-content: space-between;
}

.centrar-y {
    align-items: center;
}

.f-row {
    flex-direction: column;
}
